<h1 class="page-header">Feed</h1>

<div class="col-md-8">
  <form class="form" ng-submit="Main.post(Main.newPost)">
    <div class="form-group">
      <textarea class="form-control" rows="3" placeholder="Comparte algo..."
        ng-model="Main.newPost"></textarea>
    </div>

    <div class="form-group clearfix">
      <div class="pull-right">
        <input type="submit" value="Post" class="btn btn-primary">
      </div>
    </div>
  </form>

  <hr>

  <section class="feed">
    <article ng-repeat="post in Main.feed">
      <h3 ng-bind="post.user"></h3>
      <p ng-bind="post.post"></p>
      <p ng-bind="post.date"></p>
    </article>
  </section>
</div>
